.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}

.columnsWrapper {
  display: flex;
}

.columnsWrapper > div {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bars .skills {
  margin-top: 36px;
  list-style: none;
  padding-bottom: 7rem;
}

.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 16px;
  border-radius: 3px;
  padding-top: .5rem;
}

.bars li em {
  font: 15px "opensans-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}

.barExpand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: var(--mainBlack);
  display: inline-block;
  height: 16px;
  border-radius: 3px 0 0 3px;
}

.skillTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem !important;
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-color: var(--darkerBlue);
  padding-top: 1rem;
}


@media only screen and (max-width: 900px) {
  .columnsWrapper {
    display: block;
  }

  .columnsWrapper > div {
    width: 100%;
  }
}